<!DOCTYPE html>
<html>
    <head>
        <title>Registration form</title>
    </head>
    <body>
        <h2>Student Registration</h2>
        <form method="POST">
            <label>Name: </label>
            <input type="text" name="name" required>
            <br><br>
            <label>Email:</label>
            <input type="text" name="email" required>
            <br><br>
            <label>Course: </label>
            <input type="text" name="course" required>
            <br><br>
        </form>
    </body>
</html>